// Common header
header
  nav
    li
      a(href='/').active BrandUsed
    li
      a(href='/browse') Browse
    li
      a(href='/create') Create
    if user
      li
        a(href='/search') Search
      li
        a(href='/profile') My Profile
      li
        a(href='/inbox')#navInbox Inbox
      if user.isAdmin
        li
          a(href='/admin') Admin
      li
        form(action='/logout', method='post')#logout-form
          a#button-logout Sign out
    else
      li
        a#button-login Sign in
      
include ./login.jade
