// Login modal
.modal#modal-login
  .login-page
    .form
      .login-form
        .form-fillable
          input(type='text', name='username', placeholder='username')
          input(type='password', name='password', placeholder='password')
        input(type='submit', value='login')#submitLogin
        p.message Not registered?
          a  Sign up
      .signup-form
        .form-fillable
          input(type='text', name='username', placeholder='username')
          input(type='password', name='password', placeholder='password')
          input(type='password', name='password2', placeholder='confirm password')
          input(type='text', name='email', placeholder='email address')
          input(type='text', name='email2', placeholder='confirm email address')
        input(type='submit', value='create')#submitSignup
        p.message Already registered?
          a  Sign In
