// Login modal
.modal#modal-login
  .modal-content
    .modal-header
      span.close x
      h2 Modal Header
    .modal-body
      p Some text in the Modal Body
      p Some other text...
    .modal-footer
      p Modal Footer
