// 404 Page contents
extends layout

block css
  style.
    main h1 {
      margin: auto;
      margin-top: 1em;
      text-align: center;
      font-size: 500%;
    }
    
    main h2 {
      margin: auto;
      margin-top: 1em;
      text-align: center;
      font-size: 300%;
    }

block title
  title= BrandUsed

block content
  h1 404
  h2 Oops, this page doesn't exist!
