// Landing Page contents
extends layout

block css
  link(type='text/css', rel='stylesheet', href='/css/browse.css')

block title
  title BrandUsed

block content
  each listing in listings
    +listingSingle(listing)
