<html>
  <head>
    <meta charset="UTF-8">
    <!-- <title>TITLE GOES HERE</title> -->
    <meta name="author" content="Daniil Kouznetsov"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="./partials.css">
    <link type="text/css" rel="stylesheet" href="./browse.css">

    <!-- JS -->
    <script src='assets/js/jquery-3.0.0.min.js'></script>
  </head>
  <body>
    <div class="content-container">
      <header>
        <nav>
          <li><a href="./index.html">About</a></li>
          <li><a class="active" href="./index.html">Browse</a></li>
          <li><a href="./index.html">Create</a></li>
          <li><a href="./index.html">Login</a></li>
        </nav>
      </header>
      <main>
        <div class="card">
          <img src="./dress.jpg"></img>
          <div class="details">
            <p class="name"><a href="./item">Black Dress</a></p>
            <p class="designer">Gucci</p>
            <p class="price">$25 / day</p>
            <p class="distance">1.2 km away</p>
          </div>
        </div>
        <div class="card">
          <img src="./dress2.jpg"></img>
          <div class="details">
            <p class="name"><a href="./item">Red Dress</a></p>
            <p class="designer">Zara</p>
            <p class="price">$50 / day</p>
            <p class="distance">2 km away</p>
          </div>
        </div>
        <div class="card">
          <img src="./dress3.jpg"></img>
          <div class="details">
            <p class="name"><a href="./item">Mahogany Dress</a></p>
            <p class="designer">Polo</p>
            <p class="price">$50 / day</p>
            <p class="distance">1.8 km away</p>
          </div>
        </div>
        <div class="card">
          <img src="./bluesuit.jpg"></img>
          <div class="details">
            <p class="name"><a href="./item">Blue Suit</a></p>
            <p class="designer">Georgio Armani</p>
            <p class="price">$75 / day</p>
            <p class="distance">3 km away</p>
          </div>
        </div>
        <div class="card">
          <img src="./suitjacket.jpg"></img>
          <div class="details">
            <p class="name"><a href="./item">Suit Jacket</a></p>
            <p class="designer">Georgio Armani</p>
            <p class="price">$50 / day</p>
            <p class="distance">5.5 km away</p>
          </div>
        </div>
      </main>
      <footer>
        <span>MIT License Daniil Kouznetsov</span>
        <span><a href="./index.html">Contact Us</a></span>
      </footer>
    </div>
  </body>
</html>
