// Landing Page contents
extends layout

block css
  link(type='text/css', rel='stylesheet', href='/css/create.css')

block title
  title BrandUsed

block content
  form(action='/api/listing/create', method='post', enctype="multipart/form-data")#create-listing
    p Select an image and provide some details for your listing
    input(type="file", name="display")
    input(type='text', name='name', placeholder='Name')
    input(type='text', name='designer', placeholder='Designer')
    input(type='text', name='price', placeholder='Price')
    input(type='text', name='sizing', placeholder='Size')
    input(type='text', name='description', placeholder='Description')
    input(type='text', name='dateFrom', placeholder='Date when available')
    input(type='text', name='dateTo', placeholder='Date when unavailable')
    input(type='submit', value='create', form='create-listing')
