<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- <title>TITLE GOES HERE</title> -->
    <meta name="author" content="Daniil Kouznetsov"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="./partials.css">

    <!-- JS -->
    <script src='assets/js/jquery-3.0.0.min.js'></script>
  </head>
  <body>
    <div class="content-container">
      <header>
        <nav>
          <li><a class="active" href="./index.html">About</a></li>
          <li><a href="./index.html">Browse</a></li>
          <li><a href="./index.html">Create</a></li>
          <li><a href="./index.html">Login</a></li>
        </nav>
      </header>
      <main>
      </main>
      <footer>
        <span>MIT License Daniil Kouznetsov</span>
        <span><a href="./index.html">Contact Us</a></span>
      </footer>
    </div>
  </body>
</html>
