doctype html
html
  head
    // Metadata
    meta(charset='UTF-8')
    block title
    meta(name='author', content='Daniil Kouznetsov')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block meta
    
    // CSS
    link(type='text/css', rel='stylesheet', href='/css/reset.css')
    link(type='text/css', rel='stylesheet', href='/css/main.css')
    link(type='text/css', rel='stylesheet', href='/css/login.css')
    block css
    
    // JS
    script(src='/js/jquery-3.1.0.min.js')
    script(src='/js/jquery.form.min.js')
    script(src='/js/login.js')
    block script
    
    // Jade mixins
    include ./mixins/listingSingle.jade
    include ./mixins/reviewSingle.jade
    include ./mixins/friendSingle.jade
    include ./mixins/messageSingle.jade
    
  body
    include ./partials/header.jade
    main
      block content
    include ./partials/footer.jade
 
