main {
  padding-top: 2em;
}

main .overview {
  text-align: center;
  float: left;
  width: 50%;
}

main .overview img {
  display: block;
}

main .overview .preview {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-dark);
  padding: 1em;
}

main .details {
  float: right;
  width: 50%;
}

main .details .owner {
  float: right;
  display: flex;
  flex-direction: column;
  margin-left: auto
}

main .details .price {
  text-align: center;
  color: var(--color-darkest);
  margin-bottom: 1em;
}

main h1 {
  font-size: 250%;
}

main h2 {
  font-size: 200%;
}

main .reviews {
  display: flex;
  flex-direction: column;
}

main .reviews .review {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--color-dark-highlight);
  border-radius: 5px;
  margin-top: 1em;
}

main .review a p {
  text-align: center;
}

main .review p {
  margin-top: auto;
  margin-bottom: auto;
}

main .review .rating {
  margin-left: 1em;
  margin-right: 1em;
  font-weight: bolder;
}
